<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<f:metadata>
	<f:viewParam name="id" value="#{notaBean.id}" />
	<f:event type="preRenderView" listener="#{notaBean.initDetalhes}" />
</f:metadata>

<h:head>
	<title>DevMedia - Detalhe Nota</title>
</h:head>
<h:body>
	<h:form>
		<p:panel header="Detalhes">
			<f:facet name="footer">
				<p:button value="Lista" outcome="index" />
				<p:button value="Editar" outcome="editar">
					<f:param name="id" value="#{notaBean.nota.id}" />
				</p:button>
				<p:commandButton value="Remover" 
					action="#{notaBean.remover(notaBean.nota.id)}" />
			</f:facet>
			<p:panelGrid columns="2">
				<p:outputLabel for="id" value="Id:" />
				<h:outputText id="id" value="#{notaBean.nota.id}" />
				<p:outputLabel for="title" value="Título:" />
				<h:outputText id="title" value="#{notaBean.nota.title}" />
				<p:outputLabel for="body" value="Body:" />
				<h:outputText id="body" value="#{notaBean.nota.body}" />
			</p:panelGrid>
		</p:panel>
	</h:form>
</h:body>
</html>