<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<f:metadata>
	<f:viewParam name="id" value="#{notaBean.id}" />
	<f:event type="preRenderView" listener="#{notaBean.initDetalhes}" />
</f:metadata>

<h:head>
	<title>DevMedia - Detalhe Nota</title>
</h:head>
<h:body>
	<h:form>
		<p:panel>
			<f:facet name="header">
				<h:outputText value="Novo" rendered="#{notaBean.nota.id == null}"/>
				<h:outputText value="Editar" rendered="#{notaBean.nota.id != null}"/>
			</f:facet>
			<f:facet name="footer">
				<h:button value="Lista" outcome="index" />
				<h:commandButton value="Salvar" action="#{notaBean.editar()}" />
			</f:facet>
			<p:panelGrid columns="2">
				<p:outputLabel for="id" value="Id:" />
				<h:inputText id="id" value="#{notaBean.nota.id}" disabled="true" />
				<p:outputLabel for="title" value="Título:" />
				<h:inputText id="title" value="#{notaBean.nota.title}" />
				<p:outputLabel for="body" value="Body:" />
				<h:inputText id="body" value="#{notaBean.nota.body}" />
			</p:panelGrid>
		</p:panel>
	</h:form>
</h:body>
</html>