<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>DevMedia - Notas</title>
</h:head>
<h:body>
	<h:form>
		<h:button value="Novo" outcome="editar" />
		<p:dataTable var="nota" value="#{notaBean.notas}">
			<p:column>
				<f:facet name="header">
					<h:outputText value="Id" />
				</f:facet>
				<h:outputText value="#{nota.id}" />
			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="Título" />
				</f:facet>
				<h:link value="#{nota.title}" outcome="detalhes">
					<f:param name="id" value="#{nota.id}" />
				</h:link>
			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="Corpo" />
				</f:facet>
				<h:outputText value="#{nota.body}" />
			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="Ações" />
				</f:facet>
				<h:link value="Editar" outcome="editar">
					<f:param name="id" value="#{nota.id}" />
				</h:link>
				<h:commandLink value="Remover"
					action="#{notaBean.remover(nota.id)}" />
			</p:column>
		</p:dataTable>
	</h:form>
</h:body>
</html>